<div class="container">
  <div class="card-layout">
    <h1>Hi!</h1>
    <h3 id="description">
      This extension counts the total transactions in your Amazon account
    </h3>
    <!-- <h4>
      The default URL for transactions is already set. Please update it if
      necessary
    </h4> -->
    <p id="default-url">Default URL for transactions: {{ defaultUrl }}</p>

    <!-- <input
      [disabled]="clicked"
      [(ngModel)]="currentUrl"
      type="text"
      id="url-value"
      placeholder="Enter new URL"
    /> -->
    <!-- <br />
    <br /> -->
    <!-- <button
      [disabled]="clicked"
      [ngClass]="clicked ? 'button-disabled' : 'button-enabled'"
      (click)="saveData(currentUrl)"
    >
      Update URL
    </button> -->
    <!-- <p id="current-url">Current URL for transactions: {{ defaultUrl }}</p> -->
    <br />
    <button
      class="center"
      [disabled]="clicked"
      [ngClass]="clicked ? 'button-disabled' : 'button-enabled'"
      (click)="start(); clicked = true"
    >
      Start
    </button>
    <br />
    <br />
    <p id="result">
      {{ result }}
    </p>

    <p *ngIf="pageTotal !== 0">
      Current page total: {{ pageTotal }} <br />
      Total: {{ total }}
    </p>
    <p class="disclaimer">
      Disclaimer: Amazon displays the total amount of items chosen with the
      monthly payment option as a single transaction (the full amount of the
      item), and this screen does not provide an indicator to identify it.
      Therefore, if you have transactions of this type, your final amount may be
      less than what is shown here.
    </p>
    <p class="warning">
      {{ warning }}
    </p>
  </div>
</div>

<router-outlet />
